/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Bb]in/
[Ll]ogs/
[Pp]rofilingData/
[Uu]serSettings/
[Ii]K_BurstDebugInformation_DoNotShip/

.tmp/
.utmp/
.idea/
.vs/
JetBrains/
JetBrains.meta

ExportedObj/
.consulo/
*.csproj
*.unityproj
Assembly-CSharp*.csproj*
*.csproj.DotSettings
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.pidb.meta
*.pdb.meta
*.opendb

*.apk
*.unitypackage
*.psd*
*.PSD*
*.gif*
*.jpeg*

sysinfo.txt